workflows/Field Force AI Agent (Main) - v3.json
{
  "name": "Field Force AI Agent (Main) - v4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        368
      ],
      "id": "81ab7cb4-802b-483d-9263-08c3e8af1e92",
      "name": "WhatsApp Trigger",
      "webhookId": "2e3b579d-8454-45ba-9c7a-d69490490e2a",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "9vyODNS0sSaAtK9R",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "staff",
        "filters": {
          "conditions": [
            {
              "keyName": "Phone_number",
              "keyValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -976,
        368
      ],
      "id": "adc05a3c-bebf-492e-a5da-47f67a46c5b1",
      "name": "Auth: Get User",
      "retryOnFail": false,
      "maxTries": 3,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "iZxtWuO2BtxzHOeM",
          "name": "Whatsapp Automation DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -736,
        368
      ],
      "id": "326e426b-036f-434c-98ab-0655614011b7",
      "name": "User Exists?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "715904891617490",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "🚫 *Access Denied*\n\nYour WhatsApp number is not registered in our system.\n\nPlease contact your administrator for assistance.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -528,
        688
      ],
      "id": "be74e915-1260-4368-819d-3d3f917ec324",
      "name": "Send: Access Denied",
      "webhookId": "741c9f01-0cc5-40b9-bb8d-0f4aa32bc500",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1df3c8f1-77e3-4303-8181-4a2f0719a8c1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text?.body?.toLowerCase() }}",
                    "rightValue": "over",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33019a1a-4c54-404d-8c56-5c166d2ccd6f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text?.body?.toLowerCase() }}",
                    "rightValue": "start quiz",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f6a7d6ef-b994-4b06-af76-321a0ae0883c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].text?.body?.toUpperCase() }}",
                    "rightValue": "^[A-D]$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "92b4466e-4d33-4325-b9b5-8fac6c13db0c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4d6a4962-8e26-422d-beb6-7ce7c73030ba"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -496,
        240
      ],
      "id": "613e2f93-9c6c-4115-b32a-3224f4bda557",
      "name": "Route: Message Type"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM upload_sessions WHERE mr_phone = $1 AND status = 'active' AND expires_at > NOW() LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$('WhatsApp Trigger').item.json.contacts[0].wa_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -288
      ],
      "id": "b0c8e944-fe25-4644-ba84-a57fecb049aa",
      "name": "Check: Active Upload Session",
      "credentials": {
        "postgres": {
          "id": "iaJytqieewg1gjyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ],
      "id": "eb472eb1-23b6-4c78-8d62-ff2cd7bd58c1",
      "name": "Has Active Session?"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        320,
        -192
      ],
      "id": "31aac231-8cbc-4708-b6f5-2807c32c6d78",
      "name": "Get Image URL",
      "webhookId": "7a363ac0-be75-4887-b5b9-6f0f43a31ed5",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -192
      ],
      "id": "a70bd41f-144a-4a28-a1f7-068bb8fb7fb6",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4Br5aKi2TW8u1yhb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://amrxvoyiwlqfsfepvryn.supabase.co/storage/v1/object/prescriptions/' + $('WhatsApp Trigger').item.json.contacts[0].wa_id + '/' + Date.now() + '.jpg' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -192
      ],
      "id": "ac70c094-4f75-46a5-9074-91d518da5430",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4Br5aKi2TW8u1yhb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO prescription_uploads (mr_phone, image_url, campaign_reference, status, created_at) VALUES ($1, $2, (SELECT campaign_name FROM upload_sessions WHERE mr_phone = $1 AND status = 'active' LIMIT 1), 'pending', NOW()) RETURNING id",
        "options": {
          "queryReplacement": "={{ [$('WhatsApp Trigger').item.json.contacts[0].wa_id, $json.Key || $json.path] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        -192
      ],
      "id": "6d0ac286-dd5c-4068-96a8-3e2dd190d6d6",
      "name": "Save Image Record",
      "credentials": {
        "postgres": {
          "id": "iaJytqieewg1gjyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE upload_sessions SET image_count = image_count + 1 WHERE mr_phone = $1 AND status = 'active'",
        "options": {
          "queryReplacement": "={{ [$('WhatsApp Trigger').item.json.contacts[0].wa_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        -192
      ],
      "id": "a27cea15-6198-48fd-8ecd-486489e2d586",
      "name": "Update Image Count",
      "credentials": {
        "postgres": {
          "id": "iaJytqieewg1gjyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "715904891617490",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "⚠️ *No Active Session*\n\nYou don't have an active upload session.\n\nTo start uploading, say \"I want to upload images for [campaign name]\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        448,
        48
      ],
      "id": "d96d1239-0796-4e2e-a2e9-3c81a17e4ad1",
      "name": "Send: No Active Session",
      "webhookId": "c0a05299-acbb-439b-8c13-4ff881e8a8cf",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (UPDATE upload_sessions SET status = 'completed', completed_at = NOW() WHERE mr_phone = $1 AND status = 'active' RETURNING campaign_name, image_count) UPDATE prescription_uploads SET status = 'confirmed', campaign_reference = (SELECT campaign_name FROM updated) WHERE mr_phone = $1 AND status = 'pending' RETURNING (SELECT campaign_name FROM updated) as campaign_name, (SELECT image_count FROM updated) as image_count",
        "options": {
          "queryReplacement": "={{ [$('WhatsApp Trigger').item.json.contacts[0].wa_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        32
      ],
      "id": "02b0ee0c-5564-4a1a-ada2-f1a524bd72b9",
      "name": "Complete Upload Session",
      "credentials": {
        "postgres": {
          "id": "iaJytqieewg1gjyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "715904891617490",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ '✅ *Upload Complete*\\n\\n*' + ($json.image_count || 0) + '* image(s) uploaded successfully for *' + ($json.campaign_name || 'Unknown') + '* campaign.\\n\\nAll images have been saved to your records.' }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        128
      ],
      "id": "3e2f9acf-9436-4929-ad9f-54de17643021",
      "name": "Send: Upload Complete",
      "webhookId": "e14a0c7c-416f-4317-8c99-d6d4980c428e",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT qa.id as assignment_id, q.id as quiz_id, q.title as quiz_title, q.difficulty_level, q.total_questions, q.time_limit_minutes, qa.due_date FROM quiz_assignments qa JOIN quizzes q ON qa.quiz_id = q.id WHERE qa.mr_id = $1 AND qa.status = 'assigned' AND q.is_active = true ORDER BY qa.due_date ASC",
        "options": {
          "queryReplacement": "={{ [$('Auth: Get User').item.json.id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        272
      ],
      "id": "fd7cbc25-5d43-4075-adb7-2ff6690efab3",
      "name": "Get Pending Quizzes",
      "credentials": {
        "postgres": {
          "id": "iaJytqieewg1gjyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "gt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        96,
        368
      ],
      "id": "82a4960e-fb39-4266-9d34-3042654ee0a1",
      "name": "Has Pending Quizzes?"
    },
    {
      "parameters": {
        "jsCode": "// Format quiz list for WhatsApp\nconst quizzes = $input.all();\n\nif (quizzes.length === 0) {\n  return [{ json: { message: '📭 *No Pending Quizzes*\\n\\nYou don\\'t have any quizzes assigned at the moment.\\n\\nCheck back later or contact your HO.' } }];\n}\n\nlet message = '📚 *Your Pending Quizzes*\\n\\n───────────────────';\n\nquizzes.forEach(q => {\n  const quiz = q.json;\n  const dueDate = quiz.due_date ? new Date(quiz.due_date).toLocaleDateString('en-IN') : 'No deadline';\n  message += `\\n\\n*#${quiz.quiz_id}* - ${quiz.quiz_title}\\n   📊 Difficulty: ${quiz.difficulty_level}\\n   ❓ Questions: ${quiz.total_questions}\\n   ⏱️ Time: ${quiz.time_limit_minutes} mins\\n   📅 Due: ${dueDate}`;\n});\n\nmessage += '\\n\\n───────────────────\\n💡 _Reply with quiz ID to start_\\n_Example: \"Start quiz #1\"_';\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        272
      ],
      "id": "a531ec4d-3a6f-48cc-a901-5a3595ea8dbf",
      "name": "Format Quiz List"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "715904891617490",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        800,
        272
      ],
      "id": "0eeb74b0-0aac-43cd-9214-d51bf1290d9e",
      "name": "Send: Quiz List",
      "webhookId": "4ad821cf-0b00-4c94-bd3c-bf6b8e6ff0f3",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "715904891617490",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "📭 *No Pending Quizzes*\n\nYou don't have any quizzes assigned at the moment.\n\nCheck back later or contact your HO.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        512,
        464
      ],
      "id": "98faa487-7424-4bc0-91e0-ae13d20fdc7d",
      "name": "Send: No Quizzes",
      "webhookId": "b5b4b46e-cb7a-42f2-b170-3b18031d4a6a",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are a Field Force Assistant for Medical Representatives (MR) and Head Officers (HO).\n\nCurrent Date: {{ $now.format('YYYY-MM-DD') }} \nUser: {{ $('Auth: Get User').item.json.first_name }} {{ $('Auth: Get User').item.json.last_name }}\nUser ID: {{ $('Auth: Get User').item.json.id }}\nRole: {{ $('Auth: Get User').item.json.role }}\nPhone: {{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\n\n## AVAILABLE TOOLS:\n\n### For ALL Users (MR & HO):\n\n1. **hcp_wish** - If the user asks to create a event based greeting or wish, you MUST call the HCP Wish tool, don't generate any wish tool using gemini ai model\n   - Use when: \"wish for X\", \"a festival related wish\", \"birthday message\" ,\"create a wish message for X\", \"generate a wish message\"\n   - REQUIRED: event_name and doctor_name\n\n2. **get_pending_works** - Get user's own pending tasks\n   - Use when: \"my pending targets\", \"what's pending\", \"my work\"\n   \n3. **update_work_status** - Update user's current month's target progress.\n\n  Parameters:\n    - update_type (required): \"amount\" or \"visits\"\n      - \"amount\" = Update sales amount achieved (in rupees)\n      - \"visits\" = Update doctors visited count\n    - value (required): The NEW total value (not increment)\n\n  Examples:\n  - Update sales: {\"action\": \"update_target\", \"query\": {\"update_type\": \"amount\", \"value\": 35000}}\n  - Update visits: {\"action\": \"update_target\", \"query\": {\"update_type\": \"visits\", \"value\": 12}}\n  \n  Note: This sets the TOTAL value, not adds to it. \n  If MR says \"I visited 3 more doctors\" and current is 5, use value: 8\n  If MR says \"My sales are now 35000\", use value: 35000\n  \n  \n  Update a target to completed\n     - Use when: \"update target #X\", \"completed #X\", \"mark #X done\"\n\n4. **start_upload_session** - Start image upload session for prescriptions\n   - Use when: \"upload images for X campaign\", \"send prescription images\"\n   - REQUIRED: campaign_name\n   - Response: Session started, user can send images\n\n### For HO Only:\n5. **check_team_status** - Check team members' pending work\n   - Use when: \"team status\", \"my team's work\", \"who hasn't completed\"\n   - BLOCK if role is MR\n   \n6. **remind_team** - Send reminders to team members about pending targets.\n  Parameters:\n    - remind_type (optional): \"amount\", \"visits\", or \"all\" (default)\n      - \"amount\" = Only MRs with pending sales targets\n      - \"visits\" = Only MRs with pending doctor visit targets\n      - \"all\" = All MRs with any pending target\n  - filter_type (optional): \"month\" or \"area\" for additional filtering\n  - filter_value (optional): Value for filter (e.g., \"December\", \"Chennai\")\n  - note (optional): Custom message to include in reminder\n\n    Examples:\n    - Remind my team with the targets for doctor visits\n    - Remind my team with the targers for amounts to achieve\n    - Remind about visits: {\"action\": \"remind_team\", \"query\": {\"remind_type\": \"visits\"}}\n    - Remind my team for the December targets\n    - Remind all with note: {\"action\": \"remind_team\", \"query\": {\"remind_type\": \"all\", \"note\": \"Month-end deadline approaching!\"}}\n\n## RULES:\n1. NEVER ask for user ID - you have it\n2. If role is 'MR', DENY access to check_team_status and remind_team\n3. For quiz-related queries, tell user to type \"start quiz\"\n4. Keep responses concise and use WhatsApp formatting (*bold*, _italic_)\n5. When listing targets, always show targets ID prominently\n6. For image uploads, ONLY start session - don't process images\n\n## RESPONSE FORMAT:\n- Use emojis sparingly but appropriately\n- Use *bold* for important info\n- Use bullet points for lists\n- Keep messages under 500 characters when possible\n\n## INCIDENT MANAGEMENT\n\nWhen user reports a task-specific issue:\n1. Use update_work with status=\"Issue\", include issue_type and issue_description\n2. After the tool responds, ASK for more details:\n   - \"Can you tell me more about what happened?\"\n   - \"What caused this issue?\"\n3. When user provides details, use add_issue_details\n\nWhen user reports a general issue (not task-related):\n1. Use report_issue with issue_type and description  \n2. ASK for more details\n3. Use add_issue_details when they respond\n\nFor HO users:\n- check_incidents: Shows all open issues from team\n- resolve_issue: Resolves issue and reopens task if linked\n\n## ISSUE TYPES\n- stock_empty: Product/sample stock unavailable\n- doctor_unavailable: Doctor not at clinic\n- clinic_closed: Clinic was closed\n- transport_issue: Vehicle breakdown\n- weather_issue: Bad weather\n- medical_leave: MR health issues\n- documentation_missing: Required docs unavailable\n- other: Any other issue\n\n## IMPORTANT\n- After creating ANY incident, always ask for more details\n- Remember the incident_id from the response to use with add_issue_details\n- Be empathetic when users report issues"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -192,
        736
      ],
      "id": "b9274e7a-5a91-4afd-b619-79c653b06f04",
      "name": "Gemini Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        1040
      ],
      "id": "2fc4c660-9f95-47e8-87b0-89445c8de1d4",
      "name": "Google Gemini Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "qIhHDGvUu6kDNRJk",
          "name": "Google Gemini(PaLM) Api account - Sandz"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 'user_' + $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -336,
        1024
      ],
      "id": "13ee9c4b-2d95-4ba3-9b99-42050d9718e2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "iaJytqieewg1gjyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "get_pending_works",
        "description": "Gets the current user's own pending tasks/works. Returns list of pending items with ID, title, due date.",
        "workflowId": "kE5Z0j3gx661FwXq",
        "responsePropertyName": "output",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "get_pending"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Auth: Get User').item.json.id }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -176,
        1024
      ],
      "id": "b269bcb3-461c-49ef-8129-13664ad03f81",
      "name": "Tool: Get Pending"
    },
    {
      "parameters": {
        "name": "check_team_status",
        "description": "FOR HO ONLY. Checks pending work status of all team members (MRs) reporting to this HO.",
        "workflowId": "kE5Z0j3gx661FwXq",
        "responsePropertyName": "result",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "check_team"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Auth: Get User').item.json.id }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        160,
        1024
      ],
      "id": "e85c77da-e802-4f13-9105-eb7d6b85c140",
      "name": "Tool: Check Team"
    },
    {
      "parameters": {
        "name": "remind_team",
        "description": "### remind_team (HO ONLY)\nSend reminders to team members about pending targets.\n\nParameters:\n- remind_type (optional): \"amount\", \"visits\", or \"all\" (default: \"all\")\n  - \"amount\" = Only MRs with pending sales targets\n  - \"visits\" = Only MRs with pending doctor visit targets  \n  - \"all\" = All MRs with any pending target\n- filter_type (optional): \"month\" or \"area\" for additional filtering\n- filter_value (optional): Value for filter (e.g., \"December\", \"Chennai\")\n- note (optional): Custom message to include in reminder\n\nExamples:\n- Remind about sales: {\"action\": \"remind_team\", \"query\": {\"remind_type\": \"amount\"}}\n- Remind about visits in December: {\"action\": \"remind_team\", \"query\": {\"remind_type\": \"visits\", \"filter_type\": \"month\", \"filter_value\": \"December\"}}\n- Remind Chennai team: {\"action\": \"remind_team\", \"query\": {\"remind_type\": \"all\", \"filter_type\": \"area\", \"filter_value\": \"Chennai\"}}\n- Remind with note: {\"action\": \"remind_team\", \"query\": {\"remind_type\": \"all\", \"note\": \"Month-end deadline!\"}}",
        "workflowId": "kE5Z0j3gx661FwXq",
        "responsePropertyName": "result",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "remind_team"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Auth: Get User').item.json.id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"remind_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"amount\", \"visits\", \"all\"],\n      \"description\": \"Filter by pending target type: 'amount' for sales, 'visits' for doctor visits, 'all' for any pending\"\n    },\n    \"filter_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"month\", \"area\"],\n      \"description\": \"Additional filter by 'month' or 'area'\"\n    },\n    \"filter_value\": {\n      \"type\": \"string\",\n      \"description\": \"The value to filter by (e.g. 'December' or 'Chennai')\"\n    },\n    \"note\": {\n      \"type\": \"string\",\n      \"description\": \"Custom reminder message from HO\"\n    }\n  },\n  \"required\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        320,
        1024
      ],
      "id": "0d77e0c0-c708-4c5f-b519-bfa6f07f0443",
      "name": "Tool: Remind Team"
    },
    {
      "parameters": {
        "name": "hcp_wish",
        "description": "Gets a wish template image and generates personalized message for a doctor. Returns image with caption to send to the MR.",
        "workflowId": "kE5Z0j3gx661FwXq",
        "responsePropertyName": "result",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "hcp_wish"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_name\": {\n      \"type\": \"string\",\n      \"description\": \"The occasion (e.g. 'Diwali', 'Christmas', 'Birthday', 'Doctor Day')\"\n    },\n    \"doctor_name\": {\n      \"type\": \"string\",\n      \"description\": \"Doctor's name (e.g. 'Dr. Mehta', 'Mehta')\"\n    }\n  },\n  \"required\": [\"event_name\", \"doctor_name\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        480,
        1024
      ],
      "id": "93da6ada-9397-4708-b482-7f2713238841",
      "name": "Tool: HCP Wish"
    },
    {
      "parameters": {
        "name": "start_upload_session",
        "description": "Starts a new image upload session for prescription images. MR can then send multiple images within 2 minutes.",
        "workflowId": "0OsDz4Y6p2UbNA8I",
        "responsePropertyName": "result",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "start_upload"
            },
            {
              "name": "mr_phone",
              "stringValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"campaign_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the campaign for these images (e.g. 'XYZ Campaign', 'December Drive')\"\n    }\n  },\n  \"required\": [\"campaign_name\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        800,
        1024
      ],
      "id": "035999e9-1d53-4b37-94f3-bddcc62a5bc3",
      "name": "Tool: Start Upload"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "715904891617490",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        272,
        624
      ],
      "id": "c67ff9f8-ccfd-4864-a1a9-f15d50707b7d",
      "name": "Send: Agent Response",
      "webhookId": "5952a05a-fe4f-40e1-823d-b3923b5bd18e",
      "credentials": {
        "whatsAppApi": {
          "id": "wLCoVuFQaFkfB8l2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "name": "report_issue",
        "description": "Report a general issue not linked to a specific task (vehicle breakdown, personal emergency, etc.)",
        "workflowId": "0OsDz4Y6p2UbNA8I",
        "responsePropertyName": "result"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        640,
        1024
      ],
      "id": "c24f211d-265e-495f-a80a-1afa8713cbcb",
      "name": "Tool: Report Issue"
    },
    {
      "parameters": {
        "name": "add_issue_details",
        "description": "Report a general issue not linked to a specific task (vehicle breakdown, personal emergency, etc.)",
        "workflowId": "0OsDz4Y6p2UbNA8I",
        "responsePropertyName": "result",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"name\": \"add_issue_details\",\n  \"description\": \"Add detailed description and reason to an existing incident after user provides more information\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"incident_id\": {\n        \"type\": \"string\",\n        \"description\": \"The incident UUID (short ID like abc12345)\"\n      },\n      \"detailed_description\": {\n        \"type\": \"string\",\n        \"description\": \"Full detailed description of what happened\"\n      },\n      \"reason\": {\n        \"type\": \"string\",\n        \"description\": \"The root cause or reason for the issue\"\n      }\n    },\n    \"required\": [\"incident_id\", \"detailed_description\", \"reason\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        960,
        1024
      ],
      "id": "7ddc4583-d75c-49bb-9c12-352f9be29e4a",
      "name": "Tool: Issue Details"
    },
    {
      "parameters": {
        "name": "check_incidents",
        "description": "Report a general issue not linked to a specific task (vehicle breakdown, personal emergency, etc.)",
        "workflowId": "0OsDz4Y6p2UbNA8I",
        "responsePropertyName": "result",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"name\": \"check_incidents\",\n  \"description\": \"HO ONLY: View all open incidents reported by team members\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {},\n    \"required\": []\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1104,
        1024
      ],
      "id": "9a49bb10-7705-4c4c-b0b5-69293e0911ae",
      "name": "Tool: Check incidents"
    },
    {
      "parameters": {
        "name": "resolve_issue",
        "description": "Report a general issue not linked to a specific task (vehicle breakdown, personal emergency, etc.)",
        "workflowId": "0OsDz4Y6p2UbNA8I",
        "responsePropertyName": "result",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"name\": \"resolve_issue\",\n  \"description\": \"HO ONLY: Resolve an incident. If linked to a task, the task will be reopened. MR will be notified.\",\n  \"parameters\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"incident_id\": {\n        \"type\": \"string\",\n        \"description\": \"The incident UUID or short ID\"\n      },\n      \"resolution_notes\": {\n        \"type\": \"string\",\n        \"description\": \"How the issue was resolved\"\n      }\n    },\n    \"required\": [\"incident_id\", \"resolution_notes\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -288,
        1248
      ],
      "id": "f5744d50-6c4e-49f2-a19f-e1563b5e7a03",
      "name": "Tool: Resolve Issues"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a683a240-5a1d-4aa6-99c1-68b9a96001b0",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "is",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        368
      ],
      "id": "e399a9b6-288c-407f-9c85-cd019c837878",
      "name": "If"
    },
    {
      "parameters": {
        "name": "update_work_status",
        "description": "Update the MR's current month target progress. Can update sales amount achieved or doctors visited count. Use when user wants to update their target numbers.",
        "workflowId": "kE5Z0j3gx661FwXq",
        "responsePropertyName": "result",
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "update_work"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Auth: Get User').item.json.id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"update_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"amount\", \"visits\"],\n      \"description\": \"What to update: 'amount' for sales, 'visits' for doctor visits\"\n    },\n    \"value\": {\n      \"type\": \"number\",\n      \"description\": \"The value to ADD to current progress (not replace)\"\n    }\n  },\n  \"required\": [\"update_type\", \"value\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -16,
        1024
      ],
      "id": "39a84d58-b5b4-4041-b982-0d1f44567fa3",
      "name": "Tool: Update Targets"
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "919702183868",
            "phone_number_id": "715904891617490"
          },
          "contacts": [
            {
              "profile": {
                "name": "Brijesh"
              },
              "wa_id": "919677097376"
            }
          ],
          "messages": [
            {
              "from": "919677097376",
              "id": "wamid.HBgMOTE5Njc3MDk3Mzc2FQIAEhgUM0JEMzBEMjlEMDU4NDE1QUVCOUQA",
              "timestamp": "1766203119",
              "text": {
                "body": "I have visited 2 doctors upto now, update my targets"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth: Get User": {
      "main": [
        [
          {
            "node": "User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Exists?": {
      "main": [
        [
          {
            "node": "Route: Message Type",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route: Message Type": {
      "main": [
        [
          {
            "node": "Check: Active Upload Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Upload Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pending Quizzes",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Gemini Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Active Upload Session": {
      "main": [
        [
          {
            "node": "Has Active Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Session?": {
      "main": [
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: No Active Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Save Image Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Record": {
      "main": [
        [
          {
            "node": "Update Image Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Upload Session": {
      "main": [
        [
          {
            "node": "Send: Upload Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Quizzes": {
      "main": [
        [
          {
            "node": "Has Pending Quizzes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Quizzes?": {
      "main": [
        [
          {
            "node": "Format Quiz List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: No Quizzes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Quiz List": {
      "main": [
        [
          {
            "node": "Send: Quiz List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Agent": {
      "main": [
        []
      ]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Get Pending": {
      "ai_tool": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Check Team": {
      "ai_tool": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Remind Team": {
      "ai_tool": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: HCP Wish": {
      "ai_tool": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Start Upload": {
      "ai_tool": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Report Issue": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Issue Details": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Check incidents": {
      "ai_tool": [
        []
      ]
    },
    "Tool: Resolve Issues": {
      "ai_tool": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Auth: Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Update Targets": {
      "ai_tool": [
        [
          {
            "node": "Gemini Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eee7aca7-6353-41bd-b810-4e747883259c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc7cbdbfad8d40a565225d9667a7a22dac2b6e5b51f0cb1fe88924f14c09b03d"
  },
  "id": "658Vskouf8g9Xfng",
  "tags": []
}